# Запрещенные к размещению в репозитории файлы
.idea
__pycache__
.venv
DJANGO_SECRET_KEY.py
db.sqlite3
nohup.out
build
node_modules
.vscode
prettierrc.json
# Разрешенные для размещения в репозитор файлы