.card {
    padding: 1.5625rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5625rem;
    border-radius: 0.625rem;
    font-family: 'Montserrat-SemiBold';
    font-size: calc(14px + 6 * (100vw - 320px) / 1600);
    text-wrap: balance;
    color: #000;
}

.card__main-title {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    font-family: 'Montserrat-SemiBold';
    font-size: calc(16px + 9 * (100vw - 320px) / 1600);
    color: #000;
}

.card__main-title span {
    display: inline-block;
    width: 100%;
    text-indent: 0;
    animation: marquee 10s linear infinite;
}

.card__main-title span:hover {
    animation-play-state: paused;
}

.card__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.3125rem;
    font-family: 'Montserrat-Regular';
}

.card__list > *:not(:last-child)::after {
    content: '/';
    padding: 0 0.625rem;
}

.card__bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.card__bottom-title {
    display: flex;
    column-gap: 10px;
}

.card__bottom-subtitle {
    margin-left: auto;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-200%);
    }
}
