.app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 0 3.5rem;
}

/* Header */

.app_header {
    width: 100%;
    background-color: #f1f1f1;
}

.app_header_items {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_item.logo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.header_item.header_title {
    color: #666666;
}

.header_item.date {
    position: relative;
    font-size: calc(16px + 18 * (100vw - 320px) / 1600);
    font-family: 'Montserrat-SemiBold';
    color: #666666;
}

.btn_select_date {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.calendar_header {
    text-align: right;
}

.calendar_window {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.btn_close_calendar {
    margin-top: 35px;
    width: 16px;
    height: 16px;
}

.btn_close_calendar img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* Main */

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main .wrapper {
    margin: 60px 0;
    flex-grow: 1;
}

.main_content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.sales_table {
    width: 100%;
    height: max-content;
    display: grid;
    row-gap: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

thead,
tbody,
tr {
    display: contents;
}

.sales_thead tr,
.sales_tbody tr {
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    column-gap: 5rem;
}

.sales_thead::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
}

.total_title {
    font-family: 'Montserrat-SemiBold';
    color: #000000;
}

.total_sales {
}

.sales_tbody {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.row_sales,
.manager_cell {
    display: flex;
    align-items: center;
}

.manager_cell {
    justify-content: space-between;
}

.image_wrapper {
    width: 32px;
    height: 32px;
}

.image_wrapper .img_icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.curr_total_cell,
.curr_total_progress,
.curr_amount_cell,
.curr_amount_progress {
    /* height: 60px; */
    height: 100%;
}

.curr_total_cell,
.curr_amount_cell {
    position: relative;
    border-radius: 11px;
    background-color: #f1f1f1;
}

.curr_total_sales,
.curr_amount_sale {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
    color: white;
    text-shadow: -1px -1px 0 #444444, 1px -1px 0 #444444, -1px 1px 0 #444444, 1px 1px 0 #444444;
}

.curr_total_progress,
.curr_amount_progress {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    border-radius: 11px;
}

.curr_total_progress th:first-child,
.curr_amount_progress td:first-child {
    grid-column: 1/2 span;
    border-radius: 11px;
    color: transparent;
}

.curr_total_progress .separator,
.curr_amount_progress .separator {
    width: 1.5px;
    height: 100%;
    background-color: #a9a9a9;
}

.curr_total_progress .separator._50,
.curr_total_progress .separator._90,
.curr_amount_progress .separator._50,
.curr_amount_progress .separator._90 {
    position: absolute;
    top: 0;
}

.curr_total_progress .separator._50,
.curr_amount_progress .separator._50 {
    left: 50%;
    transform: translateX(-50%);
}

.curr_total_progress .separator._90,
.curr_amount_progress .separator._90 {
    top: 0%;
    right: 10%;
    transform: translateX(-10%);
}

.curr_total_progress th:first-child {
    background-color: #666666;
}

.multiplier {
    font-family: 'Montserrat-SemiBold';
}

.monthly_rate_cell {
    display: grid;
    grid-template-columns: 0.5fr max-content;
}

.error_msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat-SemiBold';
}

.hr_line {
    border-top: 1px solid #d9d9d9;
}
