@import url(./css/reset.css);
@import url(./css/fonts.css);

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat-Regular';
    font-size: calc(12px + 14 * (100vw - 320px) / 1600);
    color: #666666;
}

#root {
}
