* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

header,
nav,
main,
aside,
section,
footer {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
}

a,
a:link,
a:hover,
a:visited {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
